*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

OctpsBox.API/bin/Debug/netcoreapp2.2/OctpsBox.API.deps.json
OctpsBox.API/bin/Debug/netcoreapp2.2/OctpsBox.API.dll
OctpsBox.API/bin/Debug/netcoreapp2.2/OctpsBox.API.pdb
OctpsBox.API/bin/Debug/netcoreapp2.2/OctpsBox.API.runtimeconfig.dev.json
OctpsBox.API/bin/Debug/netcoreapp2.2/OctpsBox.Data.dll
OctpsBox.API/bin/Debug/netcoreapp2.2/OctpsBox.Data.pdb
OctpsBox.API/obj/OctpsBox.API.csproj.nuget.cache
OctpsBox.API/obj/OctpsBox.API.csproj.nuget.dgspec.json
OctpsBox.API/obj/OctpsBox.API.csproj.nuget.g.props
OctpsBox.API/obj/OctpsBox.API.csproj.nuget.g.targets
OctpsBox.API/obj/project.assets.json
OctpsBox.API/obj/Debug/netcoreapp2.2/OctpsBox.API.assets.cache
OctpsBox.API/obj/Debug/netcoreapp2.2/OctpsBox.API.csproj.CoreCompileInputs.cache
OctpsBox.API/obj/Debug/netcoreapp2.2/OctpsBox.API.csproj.FileListAbsolute.txt
OctpsBox.API/obj/Debug/netcoreapp2.2/OctpsBox.API.csprojAssemblyReference.cache
OctpsBox.API/obj/Debug/netcoreapp2.2/OctpsBox.API.dll
OctpsBox.API/obj/Debug/netcoreapp2.2/OctpsBox.API.pdb
OctpsBox.Data/bin/Debug/netcoreapp2.2/OctpsBox.Data.deps.json
OctpsBox.Data/bin/Debug/netcoreapp2.2/OctpsBox.Data.dll
OctpsBox.Data/bin/Debug/netcoreapp2.2/OctpsBox.Data.pdb
OctpsBox.Data/bin/Debug/netcoreapp2.2/OctpsBox.Data.runtimeconfig.dev.json
OctpsBox.Data/obj/OctpsBox.Data.csproj.nuget.cache
OctpsBox.Data/obj/OctpsBox.Data.csproj.nuget.dgspec.json
OctpsBox.Data/obj/OctpsBox.Data.csproj.nuget.g.props
OctpsBox.Data/obj/OctpsBox.Data.csproj.nuget.g.targets
OctpsBox.Data/obj/project.assets.json
OctpsBox.Data/obj/Debug/netcoreapp2.2/OctpsBox.Data.assets.cache
OctpsBox.Data/obj/Debug/netcoreapp2.2/OctpsBox.Data.csproj.CoreCompileInputs.cache
OctpsBox.Data/obj/Debug/netcoreapp2.2/OctpsBox.Data.csproj.FileListAbsolute.txt
OctpsBox.Data/obj/Debug/netcoreapp2.2/OctpsBox.Data.csprojAssemblyReference.cache
OctpsBox.Data/obj/Debug/netcoreapp2.2/OctpsBox.Data.dll
OctpsBox.Data/obj/Debug/netcoreapp2.2/OctpsBox.Data.pdb
